   
        /*live projects*/
        /*live projects*/
        .project-box{
          display: flex;
          flex-wrap: wrap;
          border: 1px solid transparent;
          margin:40px auto;
          width:100%;
        }

        .projects {
         border:1px solid transparent;
        margin-top:30px;
        }

        .each-projects{
          width: 30%;
          border: 1px solid transparent;
          margin-left: 10px;
        }
        
        .projects-pic{
          border: 1px solid transparent;
          margin-top:50px;
        }

        .projects-img{
            width:100%;
            height:300px;
            object-fit: contain;
        }
         
          .project-box h3{
            font-size:0.9em;
            font-weight: bold;
            align-items: center;
            position:absolute;
            justify-content:center;
            margin:-30px 10px 10px 10%;
            border:1px solid transparent;
            padding:10px 30px;
            border-radius:30px;
            background-color: var(--color-white);
          }
          
          
          .bucx-h3{
            margin:20px 0 0 100px;
            font-family:var(--font-family-sans-serif);
            /*  font-family: 'Poppins', sans-serif;*/
            font-size:1em;
            border: 1px solid white;
            position:absolute;
            background-color:white;
            border-radius:30px;
            text-align: center;
            padding:10px 30px;
            font-weight: bold;
          }
          
          .bucuzzi{
          position: relative;
          padding: 10px;
          border: 1px solid white;
          background-color: white;
          box-shadow: 0 0 10px #cecece;
          margin-top:20px;
          border-radius: 7px;
          }
          
          .globe{
          height:150px;
          position: relative;
          border: 1px solid white;
          background-color: white;
          box-shadow: 0 0 10px #cecece;
          margin: 7px;
          border-radius: 7px;
          
          }
          
          .lost,.facebook{
          height:180px;
          position: relative;
          border: 1px solid white;
          background-color: white;
          box-shadow: 0 0 10px #cecece;
          margin: 7px;
          border-radius: 7px;
          
          }
          
          .xor{
          height:280px;
          position: relative;
          border: 1px solid white;
          background-color: white;
          box-shadow: 0 0 10px #cecece;
          margin: 7px;
          border-radius: 7
            
            }
          .bucuzzi p,.globe p,.lost p,.facebook p,.xor p{
      color:black;
          font-weight:bold;
          text-indent:5px;
          font-family:var(--font-family-sans-serif);
          text-align:justify;
          align-items:center;
          text-overflow:ellipsis;
          justify-content:center;
          letter-spacing:0.1px;
          line-height:25px;
          margin:15px;
          font-size:1em;
          color: var(--gray);
          }

          .link-box{
            text-decoration: none;
            padding :15px 0px;
            border: 1px solid #000006;
            font-family:'Mukta',sans-serif;
            background-color:#000006;
            font-size:0.7em;
            border-radius:30px;
            font-weight:bold;
            color:white;
            letter-spacing:0.4px; 
            align-items:center;
            justify-content:center;
            display:flex;
            width:40%;
            position:relative; 
            margin:0 auto;
          }

          .link-box a{
            color: white;
            text-decoration: none;
            font-size: 1.1em;
          }


          .bucuzzi a,.globe a,.lost a,.facebook a,.xor a{
            text-decoration: none;
            padding :10px 30px;
            border: 1px solid #000006;
            font-family:'Mukta',sans-serif;
            background-color:#000006;
            font-size:0.7em;
            border-radius:30px;
            font-weight:bold;
            color:white;
            letter-spacing:-0.4px;
            margin:-20px 70px;            
            position:absolute; 
          }
          
          /*
          .bucuzzib a{
          text-decoration: none;
          padding :10px;
          border: 1px solid white;
          font-family:'Poppins',sans-serif;
          background-color:red;
          font-size:0.7em;
          border-radius:5px;
          font-weight:bold;
          color:white;
          letter-spacing:-0.4px;
          margin:-10px 0 0 80px;
          align-items:;
          text-align:;
          position:absolute;
          }
          */
          
          .bucuzzi a:hover {
           background-color:white;
           color:black;
          }



         
         
          /* ---------------------------MEDIA QUERY FOR SMALL TABLETS AND MOBILE PHONES-----------------*/
@media screen and (max-width:900px) {

    .project-box{
        display: flex;
        flex-direction: column;
         flex-wrap: nowrap;
    }

    .each-projects{
        width: 90%;
        padding:0;
        margin: 20px;
    }

    .bucx-h3{
      margin:0 0 0 50px;
    }

    

    .link-box{
      text-decoration: none;
      padding :5px 10px;
      width: 70%;
    }


}